PACKAGES R
----------

DPLYR
GGPLOT2
NNET
TIDYVERSE
REGCLASS
VCD
XNOMIAL
CAR




LIBRERÍAS PYTHON PERFILES AGRESORES/VÍCTIMAS
--------------------------------------------

PANDAS
NUMPY
MATPLOTLIB
SEABORN
KERAS
TENSORFLOW
SKLEARN
SKMULTILEARN.ADDAPT
XGBOOST
SCIPY


LIBRERÍAS PYTHON ANALISIS INFORMACIÓN REDES SOCIALES
----------------------------------------------------

PANDAS
GENSIM
NLTK
NUMPY
RANDOM
WORDCLOUD
SKLEARN
SEABORN
MATPLOTLIB

